<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.craw.dao.DoubanListMapper">
  <resultMap id="BaseResultMap" type="com.craw.bean.DoubanList">
    <id column="doubanid" jdbcType="VARCHAR" property="doubanid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="star" jdbcType="VARCHAR" property="star" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="imageUrl" jdbcType="VARCHAR" property="imageurl" />
    <result column="press" jdbcType="VARCHAR" property="press" />
    <result column="detailHref" jdbcType="VARCHAR" property="detailhref" />
    <result column="rate_num" jdbcType="VARCHAR" property="rateNum" />
    <result column="num_comments" jdbcType="VARCHAR" property="numComments" />
    <result column="simpleAbstract" jdbcType="VARCHAR" property="simpleabstract" />
  </resultMap>
  <sql id="Base_Column_List">
    doubanid, title, star, author, content, imageUrl, press, detailHref, rate_num, num_comments, 
    simpleAbstract
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from doubanlist
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from doubanlist
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.craw.bean.DoubanList">
    insert into doubanlist (doubanid, title, star, 
      author, content, imageUrl, 
      press, detailHref, rate_num, 
      num_comments, simpleAbstract)
    values (#{doubanid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{star,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{imageurl,jdbcType=VARCHAR}, 
      #{press,jdbcType=VARCHAR}, #{detailhref,jdbcType=VARCHAR}, #{rateNum,jdbcType=VARCHAR}, 
      #{numComments,jdbcType=VARCHAR}, #{simpleabstract,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.craw.bean.DoubanList">
    insert into doubanlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="doubanid != null">
        doubanid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="imageurl != null">
        imageUrl,
      </if>
      <if test="press != null">
        press,
      </if>
      <if test="detailhref != null">
        detailHref,
      </if>
      <if test="rateNum != null">
        rate_num,
      </if>
      <if test="numComments != null">
        num_comments,
      </if>
      <if test="simpleabstract != null">
        simpleAbstract,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="doubanid != null">
        #{doubanid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        #{star,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="detailhref != null">
        #{detailhref,jdbcType=VARCHAR},
      </if>
      <if test="rateNum != null">
        #{rateNum,jdbcType=VARCHAR},
      </if>
      <if test="numComments != null">
        #{numComments,jdbcType=VARCHAR},
      </if>
      <if test="simpleabstract != null">
        #{simpleabstract,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.craw.bean.DoubanList">
    update doubanlist
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        imageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        press = #{press,jdbcType=VARCHAR},
      </if>
      <if test="detailhref != null">
        detailHref = #{detailhref,jdbcType=VARCHAR},
      </if>
      <if test="rateNum != null">
        rate_num = #{rateNum,jdbcType=VARCHAR},
      </if>
      <if test="numComments != null">
        num_comments = #{numComments,jdbcType=VARCHAR},
      </if>
      <if test="simpleabstract != null">
        simpleAbstract = #{simpleabstract,jdbcType=VARCHAR},
      </if>
    </set>
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.craw.bean.DoubanList">
    update doubanlist
    set title = #{title,jdbcType=VARCHAR},
      star = #{star,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      imageUrl = #{imageurl,jdbcType=VARCHAR},
      press = #{press,jdbcType=VARCHAR},
      detailHref = #{detailhref,jdbcType=VARCHAR},
      rate_num = #{rateNum,jdbcType=VARCHAR},
      num_comments = #{numComments,jdbcType=VARCHAR},
      simpleAbstract = #{simpleabstract,jdbcType=VARCHAR}
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.craw.bean.DoubanList">
    <id column="doubanid" jdbcType="VARCHAR" property="doubanid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="star" jdbcType="VARCHAR" property="star" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="imageUrl" jdbcType="VARCHAR" property="imageurl" />
    <result column="press" jdbcType="VARCHAR" property="press" />
    <result column="detailHref" jdbcType="VARCHAR" property="detailhref" />
    <result column="rate_num" jdbcType="VARCHAR" property="rateNum" />
    <result column="num_comments" jdbcType="VARCHAR" property="numComments" />
    <result column="simpleAbstract" jdbcType="VARCHAR" property="simpleabstract" />
  </resultMap>
  <sql id="Base_Column_List">
    doubanid, title, star, author, content, imageUrl, press, detailHref, rate_num, num_comments, 
    simpleAbstract
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from doubanlist
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from doubanlist
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.craw.bean.DoubanList">
    insert into doubanlist (doubanid, title, star, 
      author, content, imageUrl, 
      press, detailHref, rate_num, 
      num_comments, simpleAbstract)
    values (#{doubanid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{star,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{imageurl,jdbcType=VARCHAR}, 
      #{press,jdbcType=VARCHAR}, #{detailhref,jdbcType=VARCHAR}, #{rateNum,jdbcType=VARCHAR}, 
      #{numComments,jdbcType=VARCHAR}, #{simpleabstract,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.craw.bean.DoubanList">
    insert into doubanlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="doubanid != null">
        doubanid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="imageurl != null">
        imageUrl,
      </if>
      <if test="press != null">
        press,
      </if>
      <if test="detailhref != null">
        detailHref,
      </if>
      <if test="rateNum != null">
        rate_num,
      </if>
      <if test="numComments != null">
        num_comments,
      </if>
      <if test="simpleabstract != null">
        simpleAbstract,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="doubanid != null">
        #{doubanid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        #{star,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="detailhref != null">
        #{detailhref,jdbcType=VARCHAR},
      </if>
      <if test="rateNum != null">
        #{rateNum,jdbcType=VARCHAR},
      </if>
      <if test="numComments != null">
        #{numComments,jdbcType=VARCHAR},
      </if>
      <if test="simpleabstract != null">
        #{simpleabstract,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.craw.bean.DoubanList">
    update doubanlist
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        imageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        press = #{press,jdbcType=VARCHAR},
      </if>
      <if test="detailhref != null">
        detailHref = #{detailhref,jdbcType=VARCHAR},
      </if>
      <if test="rateNum != null">
        rate_num = #{rateNum,jdbcType=VARCHAR},
      </if>
      <if test="numComments != null">
        num_comments = #{numComments,jdbcType=VARCHAR},
      </if>
      <if test="simpleabstract != null">
        simpleAbstract = #{simpleabstract,jdbcType=VARCHAR},
      </if>
    </set>
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.craw.bean.DoubanList">
    update doubanlist
    set title = #{title,jdbcType=VARCHAR},
      star = #{star,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      imageUrl = #{imageurl,jdbcType=VARCHAR},
      press = #{press,jdbcType=VARCHAR},
      detailHref = #{detailhref,jdbcType=VARCHAR},
      rate_num = #{rateNum,jdbcType=VARCHAR},
      num_comments = #{numComments,jdbcType=VARCHAR},
      simpleAbstract = #{simpleabstract,jdbcType=VARCHAR}
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.craw.bean.DoubanList">
    <id column="doubanid" jdbcType="VARCHAR" property="doubanid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="star" jdbcType="VARCHAR" property="star" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="imageUrl" jdbcType="VARCHAR" property="imageurl" />
    <result column="press" jdbcType="VARCHAR" property="press" />
    <result column="detailHref" jdbcType="VARCHAR" property="detailhref" />
    <result column="rate_num" jdbcType="VARCHAR" property="rateNum" />
    <result column="num_comments" jdbcType="VARCHAR" property="numComments" />
    <result column="simpleAbstract" jdbcType="VARCHAR" property="simpleabstract" />
  </resultMap>
  <sql id="Base_Column_List">
    doubanid, title, star, author, content, imageUrl, press, detailHref, rate_num, num_comments, 
    simpleAbstract
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from doubanlist
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from doubanlist
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.craw.bean.DoubanList">
    insert into doubanlist (doubanid, title, star, 
      author, content, imageUrl, 
      press, detailHref, rate_num, 
      num_comments, simpleAbstract)
    values (#{doubanid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{star,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{imageurl,jdbcType=VARCHAR}, 
      #{press,jdbcType=VARCHAR}, #{detailhref,jdbcType=VARCHAR}, #{rateNum,jdbcType=VARCHAR}, 
      #{numComments,jdbcType=VARCHAR}, #{simpleabstract,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.craw.bean.DoubanList">
    insert into doubanlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="doubanid != null">
        doubanid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="imageurl != null">
        imageUrl,
      </if>
      <if test="press != null">
        press,
      </if>
      <if test="detailhref != null">
        detailHref,
      </if>
      <if test="rateNum != null">
        rate_num,
      </if>
      <if test="numComments != null">
        num_comments,
      </if>
      <if test="simpleabstract != null">
        simpleAbstract,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="doubanid != null">
        #{doubanid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        #{star,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="detailhref != null">
        #{detailhref,jdbcType=VARCHAR},
      </if>
      <if test="rateNum != null">
        #{rateNum,jdbcType=VARCHAR},
      </if>
      <if test="numComments != null">
        #{numComments,jdbcType=VARCHAR},
      </if>
      <if test="simpleabstract != null">
        #{simpleabstract,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.craw.bean.DoubanList">
    update doubanlist
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        imageUrl = #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        press = #{press,jdbcType=VARCHAR},
      </if>
      <if test="detailhref != null">
        detailHref = #{detailhref,jdbcType=VARCHAR},
      </if>
      <if test="rateNum != null">
        rate_num = #{rateNum,jdbcType=VARCHAR},
      </if>
      <if test="numComments != null">
        num_comments = #{numComments,jdbcType=VARCHAR},
      </if>
      <if test="simpleabstract != null">
        simpleAbstract = #{simpleabstract,jdbcType=VARCHAR},
      </if>
    </set>
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.craw.bean.DoubanList">
    update doubanlist
    set title = #{title,jdbcType=VARCHAR},
      star = #{star,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      imageUrl = #{imageurl,jdbcType=VARCHAR},
      press = #{press,jdbcType=VARCHAR},
      detailHref = #{detailhref,jdbcType=VARCHAR},
      rate_num = #{rateNum,jdbcType=VARCHAR},
      num_comments = #{numComments,jdbcType=VARCHAR},
      simpleAbstract = #{simpleabstract,jdbcType=VARCHAR}
    where doubanid = #{doubanid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.craw.bean.DoubanList">
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="star" jdbcType="VARCHAR" property="star" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="imageUrl" jdbcType="VARCHAR" property="imageurl" />
    <result column="press" jdbcType="VARCHAR" property="press" />
    <result column="detailHref" jdbcType="VARCHAR" property="detailhref" />
    <result column="rate_num" jdbcType="VARCHAR" property="rateNum" />
    <result column="num_comments" jdbcType="VARCHAR" property="numComments" />
    <result column="simpleAbstract" jdbcType="VARCHAR" property="simpleabstract" />
    <result column="doubanid" jdbcType="VARCHAR" property="doubanid" />
  </resultMap>
  <insert id="insert" parameterType="com.craw.bean.DoubanList">
    insert into doubanlist (title, star, author, 
      content, imageUrl, press, 
      detailHref, rate_num, num_comments, 
      simpleAbstract, doubanid)
    values (#{title,jdbcType=VARCHAR}, #{star,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{imageurl,jdbcType=VARCHAR}, #{press,jdbcType=VARCHAR}, 
      #{detailhref,jdbcType=VARCHAR}, #{rateNum,jdbcType=VARCHAR}, #{numComments,jdbcType=VARCHAR}, 
      #{simpleabstract,jdbcType=VARCHAR}, #{doubanid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.craw.bean.DoubanList">
    insert into doubanlist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="imageurl != null">
        imageUrl,
      </if>
      <if test="press != null">
        press,
      </if>
      <if test="detailhref != null">
        detailHref,
      </if>
      <if test="rateNum != null">
        rate_num,
      </if>
      <if test="numComments != null">
        num_comments,
      </if>
      <if test="simpleabstract != null">
        simpleAbstract,
      </if>
      <if test="doubanid != null">
        doubanid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        #{star,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="imageurl != null">
        #{imageurl,jdbcType=VARCHAR},
      </if>
      <if test="press != null">
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="detailhref != null">
        #{detailhref,jdbcType=VARCHAR},
      </if>
      <if test="rateNum != null">
        #{rateNum,jdbcType=VARCHAR},
      </if>
      <if test="numComments != null">
        #{numComments,jdbcType=VARCHAR},
      </if>
      <if test="simpleabstract != null">
        #{simpleabstract,jdbcType=VARCHAR},
      </if>
      <if test="doubanid != null">
        #{doubanid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>